header {
    text-align: center;
    margin-bottom: 1.5em;

    div {
        h2,
        h3 {
            display: inline;
            font-size: 1em;
        }

        h3::before {
            content: "• "
        }
    }
}

#content {
    column-count: 2;

    section {
        break-inside: avoid-column;
    }
}